.header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 1
}

.titleContainer {
    position: absolute;
    top: 100px;
    left: 100px;
    font-family: var(--font-primary);
    color: white;
    font-size: 5rem;
}

.titleContainer::after {
    content: "";
    display: block;
    width: 100%;
    border: 1px solid white;
}

.home_text {

    font-family: var(--font-secondary);
    text-transform: uppercase;
}

.home_content {
    max-width: 600px;
    position: absolute;
    bottom: 100px;
    right: 50px;
    font-size: 2rem;
    text-align: right;
    line-height: 38px;
}

