.header {
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    color: white;
}

.background {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    opacity: 0.8;
}

.home_title_container {
    text-align: center;
    perspective: 1000px;
    position: absolute;
    top: 100px;
    left: 100px;
}

.home_title {
    font-family: var(--font-primary);
    color: white;
    font-size: 15rem;
    z-index: 1;
    margin: 0;
    white-space: nowrap;
    margin-top: auto;
    transition: all 2s ease-in-out;
}

.home_title span {
    pointer-events: none;
}

.dev_title {
    display: inline-flex;
    transform-style: preserve-3d;
    font-family: var(--font-primary);
    font-weight: 400;
    letter-spacing: 10px;
    font-size: 4rem;
    cursor: pointer;
}