.nav_bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 28px;
    right: 28px;
    background-color: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 12px;
}

/*.nav_bar::after{*/
/*    content: "";*/
/*    position: absolute;*/
/*    bottom: 0;*/
/*    width: 100%;*/
/*    height: 1px;*/
/*    background-color: white;*/
/*    opacity: 0.5;*/
/*}*/

.nav_bar_scrolled {
    backdrop-filter: blur(10px);
    /*background-color: rgba(255, 255, 255, 0.8);*/
    transition: backdrop-filter 0.5s, background-color 0.5s;
}

.nav_bar_line {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 1px;
    background-color: white;
}

.nav_bar_text {
    display: flex;
    gap: 12px;
    align-items: center;
}

.nav_bar ul {
    display: flex;
    justify-content: center;
    gap: 12px;
    padding: 12px;
}

.nav_bar ul > li, .nav_bar h4 {
    color: white;
    font-size: 20px;
    font-family: var(--font-secondary);
    cursor: pointer;
}

.nav_bar a {
    color: #e55942;
    font-weight: 600;
    font-size: 20px;
    font-family: var(--font-primary);
    cursor: pointer;
    text-decoration: none;
}