.whoAmI_section {
    display: flex;
    /*margin-top: 50vh;*/
    height: 400vh;
    align-items: center;
    justify-content: center;
}

.whoAmI_container {
    position: sticky;
    top: 50%;
    min-height: 50rem;
    min-width: 50rem;
    transform: translateY(calc(-47%));
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
}

.whoAmI_container::before {
    content: "";
    position: absolute;
    inset: 0;
    transform: scale(var(--scale));
    border: 2.5rem solid #e55942;
}

.whoAmI_container .firsText {
    white-space: nowrap;
    min-width: 100vw;
    position: absolute;
    top: 50%;
    left: calc(-50vw + 25rem);
    font-size: 23rem;
    color: white;
}

.whoAmI_container .secondText {
    white-space: nowrap;
    min-width: 100vw;
    position: absolute;
    top: 50%;
    left: calc(-50vw + 25rem);
    z-index: 11;
    font-size: 23rem;
    color: transparent;
    -webkit-text-stroke: 1px white;
}

.thirdText {
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%, -50%);
    font-size: 8.8rem;
    line-height: 1;
    color: #fff;
    text-align: center;
}

section .whoAmI_container span:nth-of-type(1) {
    position: absolute;
    left: calc(50% * var(--scale) + 50%);
    top: 0;
    z-index: 10;
    height: 100%;
    width: 50vw;
    transform-origin: left;
    transform: scale(var(--scale));
    background-color: var(--background-black);
    opacity: var(--opacity-border);
}

section .whoAmI_container span:nth-of-type(2) {
    position: absolute;
    left: calc(50% * var(--scale) + 50% - (2.5rem * var(--scale)));
    top: 0;
    z-index: 12;
    height: 100%;
    width: 2.5rem;
    transform-origin: left;
    transform: scale(var(--scale));
    border-left-width: 2.5rem;
    background-color: #e55942   ;
    opacity: var(--opacity-border);
}